#randomCat:hover {
    cursor: pointer;
  }
  #randomCat:active {
    filter: brightness(50%);
   }
  #randomCat {
    border:solid ;
    border-color: white;
    border-radius: 10px;
    display:none;
  }